<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div>
            <h2>Login</h2>
        </div>

        <!-- Login Form -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <input type="text" id="login" class="fadeIn second" formControlName="email" name="email" placeholder="login">
            <input type="text" id="password" class="fadeIn third" formControlName="password" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" routerLink="/register">Sign up</a>
        </div>

    </div>
</div>